<div class="generala-container">
    <header class="app-header">
        <h1 class="mat-h1">Anotador de Generala</h1>
    </header>

    <main class="content">
        @if (!isGameActive()) {
        <div class="setup-section">
            <p class="intro-text mat-body-1">Agrega a los jugadores para comenzar la partida.</p>

            <app-player-input [(players)]="setupPlayers" />

            <div class="actions center-actions">
                <button mat-raised-button color="primary" class="btn-large" [disabled]="setupPlayers.length === 0"
                    (click)="startGame(setupPlayers)">
                    COMENZAR PARTIDA
                </button>
            </div>
        </div>
        } @else {
        <div class="game-section fade-in">

            <div class="game-actions">
                <button mat-stroked-button color="primary" (click)="endGame()"
                    *ngIf="!stateService.gameState()?.isFinished">Terminar</button>
                <button mat-flat-button color="warn" (click)="resetGame()">Nueva Partida</button>
            </div>

            <app-score-grid />

            <div class="game-over-banner" *ngIf="stateService.gameState()?.isFinished">
                <h2 class="mat-h2">¡Partida Finalizada!</h2>
                <p class="mat-body-1">Revisa la tabla de puntajes arriba para ver al ganador.</p>
            </div>

        </div>
        }
    </main>
</div>