<div class="flex items-center justify-center w-full h-full h-[24px] cursor-pointer hover:bg-muted/50 transition-colors relative"
    [class.text-muted-foreground]="entry()?.points === 0" [class.font-bold]="!!entry() && entry()?.points !== 0"
    [class.text-primary]="!!entry() && entry()?.points !== 0" (click)="toggleSelection()">

    @if (entry()) {
    <span class="text-base">
        {{ entry()!.type === 'TACHA' ? '✕' : entry()!.points }}
    </span>
    } @else {
    <span class="text-transparent selection:bg-transparent">-</span>
    }
</div>